﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="BasicMenuInImagePage.ascx.cs" Inherits="Intranet.DesktopModules.SmsPanelProject.SmsPanel.BasicMenuInImagePage" %>

<table width="100%" bgcolor="White" dir="rtl">
    <tr>
        <td>
                <asp:PlaceHolder  ID="PlaceHolder1" runat="server"></asp:PlaceHolder>
        </td>
    </tr>
</table>